---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'À propos de moi';

const identity = {
  firstName: 'Thomas',
  country: 'France',
  occupation: 'Formatteur indépendant',
  hobbies: ['fitness', 'anime', 'développement web']
};

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro'];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = 'navy';
const fontWeight = 'bold';
const textCase = 'uppercase';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>... et de mon nouveau site Astro !</h2>
  <p>
    Je travaille sur le tutoriel d'introduction d'Astro. C'est la deuxième page
    sur mon site web, et c'est la première que j'ai construite moi-même !
  </p>
  <p>
    Ce site sera mis à jour au fur et à mesure que je terminerai le didacticiel,
    alors continuez à revenir et voir comment se passe mon voyage!
  </p>
  <p>Voici quelques informations sur moi :</p>
  <ul>
    <li>Je m'appelle {identity.firstName}.</li>
    <li>
      Je vit en {identity.country} et je travaille en tant que {
        identity.occupation
      }.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Deux de mes hobbies sont : {identity.hobbies[0]} et{' '}
          {identity.hobbies[1]}.
        </li>
      )
    }
  </ul>
  <p>Mes compétences sont :</p>
  <ul>
    {skills.map((skill) => <li class='skill'>{skill}</li>)}
  </ul>

  {happy && <p>Je suis heureux d'apprendre Astro !</p>}

  {finished && <p>J'ai terminé ce tuto !</p>}

  {
    goal === 3 ? (
      <p>Mon objectif est de finir en 3 jours.</p>
    ) : (
      <p>Mon objectif n'est pas de 3 jours.</p>
    )
  }
</BaseLayout>

<style define:vars={{ skillColor, fontWeight, textCase }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }

  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
